{% extends '/home/%s/_layout.html'%g.theme_path %}
{% from '/home/%s/macro/category_pagination.html'%g.theme_path import render_category_pagination %}
{% block nav %}
    <li><a href="{{ url_for('bpBlog.index') }}">Home</a></li>
    {% for c in g.categories %}
        <li {% if category and c.cid == category.cid %}class="active"{% endif %}><a href="{{ url_for('bpBlog.view_by_cate_name',cate_name=c.name) }}">{{ c.label }}</a></li>
    {% endfor %}
{% endblock %}
{% block body %}
    <div class="row-fluid">
        <div class="span12">
            <h2>{{ blog.title }}</h2>
            <ul class="breadcrumb">
                <li>{{ blog.edit_date|timesince }}<span class="divider">/</span></li>
                <li><a href="{{ url_for('bpBlog.view_by_cate_name',cate_name=category.name) }}">{{ category.label }}</a><span class="divider">/</span></li>
                <li>{% for t in blog.tags %}
                    <a href="{{ url_for('bpBlog.view_by_tag_name',tag_name=t.tag_name|safe) }}">{{ t.tag_name }}</a>
                {% endfor %}
                </li>
                {% if session['current_user'] %}
                    <li>
                        <a class="btn btn-small btn-warning" href="{{ url_for('bpManager.edit_post',bid=blog.bid) }}">edit</a>
                    </li>
                    <li>
                        <a class="btn btn-small btn-success" href="{{ url_for('bpManager.logout') }}">logout</a>
                    </li>
                {% endif %}
            </ul>
            <hr/>

            <p>{{ blog.content|markdown }}</p>

        </div>
    </div>
            <ul class="pager">{% if prev_blog %}
                <li class="previous"><a href="{{ prev_blog.short_url }}.html">previous post：{{ prev_blog.title }}</a></li>
            {% endif %}
                {% if next_blog %}
                    <li class="next"><a href="{{ next_blog.short_url }}.html">next post：{{ next_blog.title }}</a></li>
                {% endif %}
            </ul>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static',filename='js/prettify.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function ()
        {
            prettyPrint();
        });
    </script>
{% endblock %}