{% extends '/home/%s/_layout.html'%g.theme_path %}
{% from '/home/%s/macro/index_pagination.html'%g.theme_path import render_index_pagination %}
{% block nav %}
    <li class="active"><a href="{{ url_for('bpBlog.index') }}">Home</a></li>
    {% for c in g.categories %}
        <li><a href="{{ url_for('bpBlog.view_by_cate_name',cate_name=c.name) }}">{{ c.label }}</a></li>
    {% endfor %}
{% endblock %}
{% block body %}
    {% for blog in blogs %}
        <div class="row-fluid">
            <div class="span12">
                <h3>{{ blog.title }}</h3>

                <p>{{ blog.summary }}</p>


                <small>
                    <ul class="breadcrumb">
                        <li>
                            {{ blog.edit_date|timesince }}<span class="divider">/</span>
                        </li>
                        <li>
                            <a class="btn btn-link" href="{{ url_for("bpBlog.view_post_by_url",short_url=blog.short_url) }}">read more &raquo;</a>
                        </li>

                    </ul>
                </small>
                <hr/>
            </div>
        </div>
    {% endfor %}
    {% if pagination %}
        {{ render_index_pagination(pagination,"bpBlog.index") }}
    {% endif %}
{% endblock %}