<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>系统登录 &middot; {{ g.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/style/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            font-family: "Microsoft YaHei", "Verdana", "Lucida Sans Unicode", sans-serif !important padding-top : 40 px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            max-width: 300px;
            padding: 19px 29px 50px;
            margin: 0 auto 20px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
            -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
            box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
        }

        .form-signin .form-signin-heading,
        .form-signin {
            margin-bottom: 10px;
        }

        .form-signin input[type="text"],
        .form-signin input[type="password"] {
            font-size: 16px;
            height: auto;
            margin-bottom: 15px;
            padding: 7px 9px;
        }

    </style>
    <link href="/static/style/bootstrap-responsive.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="/static/img/favicon.ico">
</head>

<body>

<div class="container" style="margin-top:120px;">

    <form class="form-signin" method="POST" action="{{ url_for("bpManager.login") }}">
        <h2 class="form-signin-heading">{{ g.title }}</h2>
        {% if get_flashed_messages() %}
            <div class="alert alert-error">
                <ul>
                    {% for msg in get_flashed_messages() %}
                        <li>{{ msg }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if form.errors.uid %}
            <div class="control-group error">
        {% else %}
            <div class="control-group">
        {% endif %}

        <div class="controls">
            {{ form.uid(class="input-block-level",placeholder="用户名") }}
        </div>
        </div>

        {% if form.errors.pwd %}
            <div class="control-group error">
        {% else %}
            <div class="control-group">
        {% endif %}

        <div class="controls">
            {{ form.pwd(class="input-block-level",placeholder="密码") }}
        </div>
        </div>

        {{ form.csrf_token }}
        <a href="{{ url_for("bpBlog.index") }}" class="btn btn-link">返回首页</a>
        <button class="btn btn-danger" type="submit" style="float:right;">登录</button>
    </form>

</div>
<!-- /container -->

<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/html5shiv.js"></script>
</body>
</html>