{% extends 'manager/_layout.html' %}
{% block body %}
    <div class="span12">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">内容管理</li>
                    <li><a href="{{ url_for('bpManager.add_post') }}">新建文章</a></li>
                    <li><a href="{{ url_for('bpManager.posts',page=1) }}">文章列表</a></li>
                    <li><a href="{{ url_for('bpManager.categories') }}">分类管理</a></li>
                    <li><a href="{{ url_for('bpManager.list_tag') }}">标签管理</a></li>
                    <li><a href="{{ url_for('bpManager.list_attachment') }}">附件管理</a></li>
                    <li class="nav-header">系统管理</li>
                    <li class="active"><a href="{{ url_for('bpManager.changepassword') }}">修改密码</a></li>
                    <li><a href="{{ url_for('bpManager.sysinfo') }}">系统信息</a></li>
                </ul>
            </div>
            <!--/.well -->
        </div>
        <div class="span9 well">
            {% with msgs = get_flashed_messages(with_categories=True) %}
                {% if msgs %}
                    {% for category,msg in msgs %}
                        <div class="alert alert-{{ category }}">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <ul>
                                <li>{{ msg }}</li>
                            </ul>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form method="POST" action="{{ url_for('bpManager.changepassword') }}">
                <h2>修改密码</h2>

                <div class="control-group {% if form.errors.old_pass %}error{% endif %}">
                    {{ form.old_pass.label(class="control-label") }}

                    <div class="controls">
                        {{ form.old_pass(class="input-xxlarge",placeholder="旧密码") }}

                    </div>
                </div>
                <div class="control-group {% if form.errors.new_pass %}error{% endif %}">
                    {{ form.new_pass.label(class="control-label") }}

                    <div class="controls">
                        {{ form.new_pass(class="input-xxlarge",placeholder="新密码") }}

                    </div>
                </div>
                <div class="control-group {% if form.errors.confirm_pass %}error{% endif %}">
                    {{ form.confirm_pass.label(class="control-label") }}

                    <div class="controls">
                        {{ form.confirm_pass(class="input-xxlarge",placeholder="重复新密码") }}

                    </div>
                </div>
                <div class="control-group {% if form.errors.confirm_pass %}error{% endif %}">
                    {{ form.csrf_token }}
                    <div class="controls">
                        <button type="submit" class="btn btn-large btn-success">修改</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}