{% extends 'manager/_layout.html' %}
{% block body %}
    <div class="span12">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">内容管理</li>
                    <li><a href="{{ url_for('bpManager.add_post') }}">新建文章</a></li>
                    <li><a href="{{ url_for('bpManager.posts',page=1) }}">文章列表</a></li>
                    <li><a href="{{ url_for('bpManager.categories') }}">分类管理</a></li>
                    <li><a href="{{ url_for('bpManager.list_tag') }}">标签管理</a></li>
                    <li><a href="{{ url_for('bpManager.list_attachment') }}">附件管理</a></li>
                    <li class="nav-header">系统管理</li>
                    <li><a href="{{ url_for('bpManager.changepassword') }}">修改密码</a></li>
                    <li class="active"><a href="{{ url_for('bpManager.sysinfo') }}">系统信息</a></li>
                </ul>
            </div>
            <!--/.well -->
        </div>
        <div class="span9">
            <h3>环境信息</h3>
            <table class="table-bordered table">
                <tr>
                    <th>系统名称</th>
                    <th>Python版本</th>
                </tr>
                <tr>
                    <td>{{ os_name }}</td>
                    <td>{{ python_ver }}</td>
                </tr>
            </table>
            <h3>系统设置</h3>
            {% with msgs = get_flashed_messages(with_categories=True) %}
                {% if msgs %}
                    {% for category,msg in msgs %}
                        <div class="alert alert-{{ category }}">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <ul>
                                <li>{{ msg }}</li>
                            </ul>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form class="form-horizontal" method="POST" action="{{ url_for('bpManager.sysinfo') }}">
                <div class="control-group">
                    {{ form.title.label(class='control-label') }}
                    <div class="controls">
                        {{ form.title(class="input-xxlarge",value=setting.title) }}
                    </div>
                </div>
                <div class="control-group">
                    {{ form.slogan.label(class='control-label') }}
                    <div class="controls">
                        {{ form.slogan(class="input-xxlarge",value=setting.slogan) }}
                    </div>
                </div>
                <div class="control-group">
                    {{ form.page_size.label(class='control-label') }}
                    <div class="controls">
                        {{ form.page_size(class="input-mini",value=setting.page_size) }}
                    </div>
                </div>
                <div class="control-group">
                    {{ form.theme.label(class='control-label') }}
                    <div class="controls">
                        {{ form.theme(class="input-large") }}
                    </div>
                </div>
                <div class="control-group">
                    {{ form.csrf_token }}
                    <div class="controls">
                        <button type="submit" class="btn btn-success">提交修改</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function ()
        {
            $("#theme")[0].selectedIndex = {{ setting.tid }}-1;
        });
    </script>
{% endblock %}