{% extends 'manager/_layout.html' %}
{% block body %}
    <div class="span12">

        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">内容管理</li>
                    <li><a href="{{ url_for('bpManager.add_post') }}">新建文章</a></li>
                    <li><a href="{{ url_for('bpManager.posts',page=1) }}">文章列表</a></li>
                    <li><a href="{{ url_for('bpManager.categories') }}">分类管理</a></li>
                    <li><a href="{{ url_for('bpManager.list_tag') }}">标签管理</a></li>
                    <li><a href="{{ url_for('bpManager.list_attachment') }}">附件管理</a></li>
                    <li class="nav-header">系统管理</li>
                    <li><a href="{{ url_for('bpManager.changepassword') }}">修改密码</a></li>
                    <li><a href="{{ url_for('bpManager.sysinfo') }}">系统信息</a></li>
                </ul>
            </div>
            <!--/.well -->
        </div>
        <div class="span9 well">
            {% with msgs = get_flashed_messages(with_categories=True) %}
                {% if msgs %}
                    {% for category,msg in msgs %}
                        <div class="alert alert-{{ category }}">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <ul>
                                <li>{{ msg }}</li>
                            </ul>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <h2>删除文章</h2>

            <form method="POST" action="{{ url_for('bpManager.confirm_del',bid=blog.bid) }}">
                <h3>确定要删除此文章吗？</h3>

                <p>{{ blog.title }}</p>
                <input type="hidden" value="{{ blog.bid }}" name="bid">

                <div class="control-group">

                    <div class="controls">
                        <button type="submit" class="btn btn-large btn-danger">确定删除</button>
                        <a href="javascript:history.go(-1);" class="btn btn-large btn-success">返回</a>
                    </div>
                </div>
            </form>

        </div>

    </div>
    <script type="text/javascript" src="/static/js/jquery.upload.js"></script>
    <script type="text/javascript">
        $(document).ready(function ()
        {
            $("#category")[0].selectedIndex = {{ blog.category }}-1;
            function bind_att_events()
            {
                $("a[id^='att_']").click(function ()
                {
                    var aid = $(this).attr('value');
                    $.get("{{ url_for("bpManager.file_delete") }}/" + aid, function (data)
                            {
                                if (data.astatus == 1)
                                {
                                    $("#li_att_" + aid).remove();
                                }
                                else
                                {
                                    alert(data.amessage)
                                }
                            }
                            , "json");
                });
            }

            $("#btn_upload").click(function ()
            {
                $.upload({
                    // 上传地址
                    url: '{{ url_for("bpManager.file_upload") }}',
                    // 文件域名字
                    fileName: 'filename',
                    // 其他表单数据
                    params: {},
                    // 上传完成后, 返回json, text
                    dataType: 'json',
                    // 上传之前回调,return true表示可继续上传
                    onSend: function ()
                    {
                        return true;
                    },
                    // 上传之后回调
                    onComplate: function (data)
                    {
                        if (data.fileid != 0)
                        {
                            $("#attachments").append("<li id='li_att_" + data.fileid + "'><span class='badge badge-success'>" +
                                    data.fileid +
                                    "</span><span class='badge badge-inverse'>" +
                                    data.filename +
                                    "</span><a id='att_" +
                                    data.fileid +
                                    "' class='btn btn-mini " +
                                    "btn-danger' value='" +
                                    data.fileid +
                                    "'>删除</a></li>");
                            var hidden_atts = $("#hidden_atts").val();

                            bind_att_events();
                        }
                        else
                        {
                            alert(data.filename);
                        }
                    }
                });

            });
            function bind_events()
            {
                var btns = $("li[id^='btn_tag_']");
                btns.unbind();
                btns.click(function ()
                {
                    $("#selected_tags").append("<li value=" + $(this).val() + " id=cancel_tag_" + $(this).val() + " class='btn btn-mini btn-success'>" + $(this).html() + "</li>")
                    //$(this).remove();
                });
            }

            $("#tags_reset").click(function ()
            {
                $("#selected_tags > li").each(function ()
                {
                    //$("#tags").append("<li value=" + $(this).val() + " id='btn_tag_" + $(this).val() + "' class='btn btn-mini'>" + $(this).html() + "</li>")
                    $(this).remove();
                });
                bind_events();
            });

            $("#tag_add").click(function ()
            {
                $.post('{{ url_for('bpManager.add_tag') }}', {'tag_name': $("#pre_add_tag").val()}, function (data)
                {
                    $("#tags").html(data);
                    bind_events();
                });
            });

            $("#submiter").click(function ()
            {
                $("#selected_tags > li").each(function ()
                {
                    var tags = $("#hidden_tags").val();
                    $('#hidden_tags').val(tags + ',' + $(this).val());
                });
                $("#attachments > li").each(function ()
                {
                    var atts = $("#hidden_atts").val();
                    $('#hidden_atts').val(atts + ',' + $(this).val());
                });
                $("form:first").submit();
                $(this).html("发表中...");
            });

            bind_events();
            $("#content").markDownEditor({
                //previewBodyClass : 'text-content',
                //actions : [ 'bold', 'quote' ]
            });
        });

    </script>
{% endblock %}