{% extends 'manager/_layout.html' %}
{% block body %}
    <div class="span12">

        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">内容管理</li>
                    <li><a href="{{ url_for('bpManager.add_post') }}">新建文章</a></li>
                    <li><a href="{{ url_for('bpManager.posts',page=1) }}">文章列表</a></li>
                    <li><a href="{{ url_for('bpManager.categories') }}">分类管理</a></li>
                    <li><a href="{{ url_for('bpManager.list_tag') }}">标签管理</a></li>
                    <li><a href="{{ url_for('bpManager.list_attachment') }}">附件管理</a></li>
                    <li class="nav-header">系统管理</li>
                    <li><a href="{{ url_for('bpManager.changepassword') }}">修改密码</a></li>
                    <li><a href="{{ url_for('bpManager.sysinfo') }}">系统信息</a></li>
                </ul>
            </div>
            <!--/.well -->
        </div>
        <div class="span6 well">
            {% with msgs = get_flashed_messages(with_categories=True) %}
                {% if msgs %}
                    {% for category,msg in msgs %}
                        <div class="alert alert-{{ category }}">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <ul>
                                <li>{{ msg }}</li>
                            </ul>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <h2>编辑文章</h2>

            <form id="add_post_form" method="POST" action="{{ url_for('bpManager.edit_post',bid=blog.bid) }}">
                <div class="control-group {% if form.errors.title %}error{% endif %}">
                    {{ form.title.label(class="control-label") }}

                    <div class="controls">
                        {{ form.title(class="input-xxlarge",placeholder="文章标题",value=blog.title) }}

                    </div>
                </div>
                <div class="control-group {% if form.errors.short_url %}error{% endif %}">
                    {{ form.short_url.label(class="control-label") }}

                    <div class="controls">
                        <div class="input-append">
                            {{ form.short_url(class="input-xlarge",placeholder="自定义地址",value=blog.short_url) }}
                            <span class="add-on">.html</span>
                        </div>

                    </div>
                </div>
                <div class="control-group {% if form.errors.summary %}error{% endif %}">
                    {{ form.summary.label(class="control-label") }}

                    <div class="controls">
                        {{ form.summary(class="input-xxlarge",rows="4",placeholder="文章摘要") }}
                    </div>
                </div>
                <div class="control-group {% if form.errors.content %}error{% endif %}">
                    {{ form.content.label(class="control-label") }}

                    <div class="controls">
                        <div class="wmd">
                            {{ form.content(class="input-xxlarge",rows="12",placeholder="文章内容") }}

                            <div id="wmd-html" class="wmd-output input-xxlarge"></div>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">附件列表</label>

                    <div class="controls">
                        <div class="wmd">
                            <button type="button" id="btn_upload" class="btn btn-warning btn-small">上传附件</button>
                            <ul id="attachments">
                                {% for att in blog.attachments %}
                                    <li value='{{ att.aid }}' id='li_att_{{ att.aid }}'><span class='badge badge-success'>{{ att.aid }}</span><span class='badge badge-inverse'>{{ att.url }}</span>
                                        <a id='att_{{ att.aid }}' class='btn btn-mini btn-danger' value='{{ att.aid }}'>删除</a></li>
                                {% endfor %}
                            </ul>
                            {{ form.hidden_atts }}
                        </div>
                    </div>
                </div>


        </div>
        <div class="span3 well">
            <div class="control-group {% if form.errors.category %}error{% endif %}">

                <h3>{{ form.category.label.text }}</h3>

                <div class="controls">
                    {{ form.category }}
                </div>
            </div>
            <div class="control-group">

                <h3>标签</h3>

                <div class="controls">
                    <ul>
                        {% for err in form.errors.hidden_tags %}
                            <li class="text-error">{{ err }}</li>
                        {% endfor %}
                    </ul>
                    <div class="help-block">
                        <h4>已选择的标签&nbsp;
                            <button type="button" class="btn btn-mini btn-danger" id="tags_reset">重置</button>
                        </h4>
                        <ul id="selected_tags">
                            {% for tag in blog.tags %}
                                <li value="{{ tag.tid }}" id="cancel_tag_{{ tag.tid }}" class='btn btn-mini btn-success'>{{ tag.tag_name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="help-block">
                        <h4>选择或添加标签</h4>

                        <ul id="tags">
                            {% for tag in tags %}
                                <li value="{{ tag.tid }}" id="btn_tag_{{ tag.tid }}" class="btn  btn-mini">
                                    {{ tag.tag_name }}

                                </li>
                            {% endfor %}
                        </ul>
                        {{ form.csrf_token }}
                        {{ form.hidden_tags }}
                        <br/>
                        <input type="text" class="input-mini" id="pre_add_tag" placeholder="新标签"/>
                        <button type="button" id="tag_add" class="btn btn-small  btn-warning">添加</button>
                    </div>

                </div>
            </div>
            <hr/>
            <div>
                <button type="button" id="submiter" class="btn btn-large btn-block btn-success">发表</button>
            </div>
        </div>
        </form>
    </div>
    <script type="text/javascript" src="/static/js/jquery.upload.js"></script>
    <script type="text/javascript">
        $(document).ready(function ()
        {
            $("#category").val({{ blog.category }});
            function bind_att_events()
            {
                $("a[id^='att_']").click(function ()
                {
                    var aid = $(this).attr('value');
                    $.get("{{ url_for("bpManager.file_delete") }}/" + aid, function (data)
                            {
                                if (data.astatus == 1)
                                {
                                    $("#li_att_" + aid).remove();
                                }
                                else
                                {
                                    alert(data.amessage)
                                }
                            }
                            , "json");
                });
            }

            bind_att_events();
            $("#btn_upload").click(function ()
            {
                $.upload({
                    // 上传地址
                    url: '{{ url_for("bpManager.file_upload") }}',
                    // 文件域名字
                    fileName: 'filename',
                    // 其他表单数据
                    params: {},
                    // 上传完成后, 返回json, text
                    dataType: 'json',
                    // 上传之前回调,return true表示可继续上传
                    onSend: function ()
                    {
                        return true;
                    },
                    // 上传之后回调
                    onComplate: function (data)
                    {
                        if (data.fileid != 0)
                        {
                            $("#attachments").append("<li value='" + data.fileid + "' id='li_att_" + data.fileid + "'><span class='badge badge-success'>" +
                                    data.fileid +
                                    "</span><span class='badge badge-inverse'>" +
                                    data.filename +
                                    "</span><a id='att_" +
                                    data.fileid +
                                    "' class='btn btn-mini " +
                                    "btn-danger' value='" +
                                    data.fileid +
                                    "'>删除</a></li>");
                            var hidden_atts = $("#hidden_atts").val();

                            bind_att_events();
                        }
                        else
                        {
                            alert(data.filename);
                        }
                    }
                });

            });
            function bind_events()
            {
                var btns = $("li[id^='btn_tag_']");
                btns.unbind();
                btns.click(function ()
                {
                    $("#selected_tags").append("<li value=" + $(this).val() + " id=cancel_tag_" + $(this).val() + " class='btn btn-mini btn-success'>" + $(this).html() + "</li>")
                    //$(this).remove();
                });
            }

            $("#tags_reset").click(function ()
            {
                $("#selected_tags > li").each(function ()
                {
                    //$("#tags").append("<li value=" + $(this).val() + " id='btn_tag_" + $(this).val() + "' class='btn btn-mini'>" + $(this).html() + "</li>")
                    $(this).remove();
                });
                bind_events();
            });

            $("#tag_add").click(function ()
            {
                $.post('{{ url_for('bpManager.add_tag') }}', {'tag_name': $("#pre_add_tag").val()}, function (data)
                {
                    $("#tags").html(data);
                    bind_events();
                });
            });

            $("#submiter").click(function ()
            {
                $("#selected_tags > li").each(function ()
                {
                    var tags = $("#hidden_tags").val();
                    $('#hidden_tags').val(tags + ',' + $(this).val());
                });
                $("#hidden_atts").val('');
                $("#attachments > li").each(function ()
                {
                    var atts = $("#hidden_atts").val();
                    $('#hidden_atts').val(atts + ',' + $(this).val());
                    alert($('#hidden_atts').val());
                });
                $("form:first").submit();
                $(this).html("发表中...");
            });

            bind_events();
            $("#content").markDownEditor({
                //previewBodyClass : 'text-content',
                //actions : [ 'bold', 'quote' ]
            });
        });

    </script>
{% endblock %}