{% extends 'manager/_layout.html' %}
{% from 'manager/macro/pagination_detail.html' import render_pagination %}
{% block body %}
    <div class="span12">

        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">内容管理</li>
                    <li><a href="{{ url_for('bpManager.add_post') }}">新建文章</a></li>
                    <li class="active"><a href="{{ url_for('bpManager.posts',page=1) }}">文章列表</a></li>
                    <li><a href="{{ url_for('bpManager.categories') }}">分类管理</a></li>
                    <li><a href="{{ url_for('bpManager.list_tag') }}">标签管理</a></li>
                    <li><a href="{{ url_for('bpManager.list_attachment') }}">附件管理</a></li>
                    <li class="nav-header">系统管理</li>
                    <li><a href="{{ url_for('bpManager.changepassword') }}">修改密码</a></li>
                    <li><a href="{{ url_for('bpManager.sysinfo') }}">系统信息</a></li>
                </ul>
            </div>
            <!--/.well -->
        </div>
        <div class="span9 well">
            {% with msgs = get_flashed_messages(with_categories=True) %}
                {% if msgs %}
                    {% for category,msg in msgs %}
                        <div class="alert alert-{{ category }}">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <ul>
                                <li>{{ msg }}</li>
                            </ul>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <h2>文章管理</h2>

            <h4>文章列表</h4>
            <table class="table table-bordered" style="width: 50%;">
                <tr>
                    <th>编号</th>
                    <th>标题</th>
                    <th>时间</th>
                    <th>操作</th>
                </tr>
                {% for b in blogs %}
                    <tr>
                        <td>{{ b.bid }}</td>
                        <td>{{ b.title }}</td>
                        <td>{{ b.post_date }}</td>
                        <td>
                            <a class="btn btn-warning" href="{{ url_for('bpManager.edit_post',bid=b.bid) }}">！编辑！</a>
                            <a class="btn btn-danger" href="{{ url_for('bpManager.del_post',bid=b.bid) }}">！删除！</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {{ render_pagination(pagination,"bpManager.posts") }}
        </div>
    </div>
{% endblock %}