{% from 'html_helpers/url_for_theme_css.html' import url_for_theme_css %}
{% from 'html_helpers/url_for_theme_js.html' import url_for_theme_js %}
{% from 'html_helpers/url_for_theme_img.html' import url_for_theme_img %}
{% from 'html_helpers/url_for_global_js.html' import url_for_global_js %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ g.title }} &middot; {{ g.slogan }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    {{ url_for_theme_css(g,'default.css') }}
    <link href="{{ url_for('static',filename='style/prettify.css') }}" rel="stylesheet">

    <style type="text/css">
        body {
            padding-top: 20px;
            padding-bottom: 60px;
        }

            /* Custom container */
        .container {
            margin: 0 auto;
            max-width: 1000px;
        }

        .container > hr {
            margin: 60px 0;
        }

            /* Main marketing message and sign up button */
        .jumbotron {
            margin: 80px 0;
            text-align: center;
        }

        .jumbotron h1 {
            font-size: 100px;
            line-height: 1;
        }

        .jumbotron .lead {
            font-size: 24px;
            line-height: 1.25;
        }

        .jumbotron .btn {
            font-size: 21px;
            padding: 14px 24px;
        }

            /* Supporting marketing content */
        .marketing {
            margin: 60px 0;
        }

        .marketing p + h4 {
            margin-top: 28px;
        }

            /* Customize the navbar links to be fill the entire space of the .navbar */
        .navbar .navbar-inner {
            padding: 0;
        }

        .navbar .nav {
            margin: 0;
            display: table;
            width: 100%;
        }

        .navbar .nav li {
            display: table-cell;
            width: 1%;
            float: none;
        }

        .navbar .nav li a {
            font-weight: bold;
            text-align: center;
            border-left: 1px solid rgba(255, 255, 255, .75);
            border-right: 1px solid rgba(0, 0, 0, .1);
        }

        .navbar .nav li:first-child a {
            border-left: 0;
            border-radius: 3px 0 0 3px;
        }

        .navbar .nav li:last-child a {
            border-right: 0;
            border-radius: 0 3px 3px 0;
        }
    </style>
    {{ url_for_theme_css(g,'bootstrap-responsive.min.css') }}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    {{ url_for_global_js('html5shiv.js') }}
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="{{ url_for_theme_img(g,'favicon.ico') }}">
</head>

<body>

<div class="container">

    <div class="masthead">
        <ul class="inline">
            <li><h3>{{ g.title }}</h3></li>
            <li><h4 class="muted">{{ g.slogan }}</h4></li>
        </ul>


        <div class="">
                    <ul class="nav nav-pills">
                        {% block nav %}
                        {% endblock %}
                    </ul>
        </div>
        <!-- /.navbar -->
    </div>

    {% block body %}

    {% endblock %}



    <div class="footer row-fluid">

        <div class="span10">2013 &copy; {{ g.title }} | 运行于：{{ g.platform }} , Python {{ g.python }} , Flask {{ g.flask }}
            <script type="text/javascript">
                var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F4a28ce03cce19d8eb4a0e68bf316afa3' type='text/javascript'%3E%3C/script%3E"));
            </script>

        </div>

        <div class="span2">
            {% block footer %}
            {% endblock %}
        </div>
    </div>

</div>
<!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-transition.js"></script>
<script src="/static/js/bootstrap-alert.js"></script>
<script src="/static/js/bootstrap-modal.js"></script>
<script src="/static/js/bootstrap-dropdown.js"></script>
<script src="/static/js/bootstrap-scrollspy.js"></script>
<script src="/static/js/bootstrap-tab.js"></script>
<script src="/static/js/bootstrap-tooltip.js"></script>
<script src="/static/js/bootstrap-popover.js"></script>
<script src="/static/js/bootstrap-button.js"></script>
<script src="/static/js/bootstrap-collapse.js"></script>
<script src="/static/js/bootstrap-carousel.js"></script>
<script src="/static/js/bootstrap-typeahead.js"></script>
{% block scripts %}
{% endblock %}
</body>
</html>
