{% extends '/home/%s/_layout.html'%g.theme_path %}
{% from '/home/%s/macro/category_pagination.html'%g.theme_path import render_category_pagination %}
{% block nav %}
    <li><a href="{{ url_for('bpBlog.index') }}">Home</a></li>
    {% for c in g.categories %}
        <li {% if category and c.cid == category.cid %}class="active"{% endif %}><a href="{{ url_for('bpBlog.view_by_cate_name',cate_name=c.name) }}">{{ c.label }}</a></li>
    {% endfor %}
{% endblock %}
{% block body %}

    <div class="row-fluid">
        <div class="span12">
            <h3>{{ blog.title }}</h3>
            <ul class="inline muted">
                <li>发布于：{{ blog.post_date }}</li>
                <li>修改于：{{ blog.edit_date }}</li>
                <li>属于：<a href="{{ url_for('bpBlog.view_by_cate_name',cate_name=category.name) }}">{{ category.label }}</a>分类</li>
                <li>被贴了：{% for t in blog.tags %}
                    <a href="{{ url_for('bpBlog.view_by_tag_name',tag_name=t.tag_name|safe) }}">{{ t.tag_name }}</a>
                {% endfor %}标签
                </li>
                {% if session['current_user'] %}
                    <li>
                        <a class="btn btn-small btn-warning" href="{{ url_for('bpManager.edit_post',bid=blog.bid) }}">编辑</a>
                    </li>
                    <li>
                        <a class="btn btn-small btn-success" href="{{ url_for('bpManager.logout') }}">注销</a>
                    </li>
                {% endif %}
            </ul>
            <hr/>

            <p>{{ blog.content|markdown }}</p>

        </div>
    </div>
    <hr/>
    <div class=pagination>
        <div class="pagination pagination-centered pagination-large">
            <ul>{% if prev_blog %}
                <li><a href="{{ prev_blog.short_url }}.html">上一篇：{{ prev_blog.title }}</a></li>
            {% endif %}
                {% if next_blog %}
                    <li><a href="{{ next_blog.short_url }}.html">下一篇：{{ next_blog.title }}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {{ process_time }}s
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static',filename='js/prettify.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function ()
        {
            prettyPrint();
        });
    </script>
{% endblock %}