{% extends '/home/%s/_layout.html'%g.theme_path %}
{% from '/home/%s/macro/index_pagination.html'%g.theme_path import render_index_pagination %}
{% block nav %}
    <li class="active"><a href="{{ url_for('bpBlog.index') }}">Home</a></li>
    {% for c in g.categories %}
        <li><a href="{{ url_for('bpBlog.view_by_cate_name',cate_name=c.name) }}">{{ c.label }}</a></li>
    {% endfor %}
{% endblock %}
{% block body %}
    {% for blog in blogs %}
        <div class="row-fluid">
            <div class="span12">
                <h3><a href="{{ url_for("bpBlog.view_post_by_url",short_url=blog.short_url) }}">{{ blog.title }}</a></h3>

                <p>{{ blog.summary }}</p>

                <p><a class="btn btn-link" href="{{ url_for("bpBlog.view_post_by_url",short_url=blog.short_url) }}">继续阅读 &raquo;</a></p>
            </div>
        </div>
        <hr/>
    {% endfor %}
    {% if pagination %}
        {{ render_index_pagination(pagination,"bpBlog.index") }}
    {% endif %}
{% endblock %}
{% block footer %}
    {{ process_time }}s
{% endblock %}