{% extends 'manager/_layout.html' %}
{% block body %}
    <div class="span12">

        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">内容管理</li>
                    <li><a href="{{ url_for('bpManager.add_post') }}">新建文章</a></li>
                    <li><a href="{{ url_for('bpManager.posts',page=1) }}">文章列表</a></li>
                    <li class="active"><a href="{{ url_for('bpManager.categories') }}">分类管理</a></li>
                    <li><a href="{{ url_for('bpManager.list_tag') }}">标签管理</a></li>
                    <li><a href="{{ url_for('bpManager.list_attachment') }}">附件管理</a></li>
                    <li class="nav-header">系统管理</li>
                    <li><a href="{{ url_for('bpManager.changepassword') }}">修改密码</a></li>
                    <li><a href="{{ url_for('bpManager.sysinfo') }}">系统信息</a></li>
                </ul>
            </div>
            <!--/.well -->
        </div>
        <div class="span9 well">
            {% with msgs = get_flashed_messages(with_categories=True) %}
                {% if msgs %}
                    {% for category,msg in msgs %}
                        <div class="alert alert-{{ category }}">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <ul>
                                <li>{{ msg }}</li>
                            </ul>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <h2>分类管理</h2>

            <h4>分类列表</h4>
            <table class="table table-bordered" style="">
                <tr>
                    <th>编号</th>
                    <th>标识名</th>
                    <th>名称</th>
                    <th>排序</th>
                    <th>操作</th>
                </tr>
                {% for c in categories %}
                    <form method="POST" action="{{ url_for('bpManager.edit_category',cid=c.cid) }}">
                        <tr>
                            <td>{{ c.cid }}</td>
                            <td>{{ form.name(value=c.name) }}</td>
                            <td>{{ form.label(value=c.label) }}</td>
                            <td>{{ form.order(value=c.order,class="input-mini") }}</td>
                            <td><a class="btn btn-danger" href="{{ url_for('bpManager.del_category',cid=c.cid) }}">删除</a>
                            {{ form.csrf_token }}    <button type="submit" class="btn btn-primary">修改</button>
                            </td>
                        </tr>
                    </form>
                {% endfor %}
            </table>
            <h4>添加分类</h4>

            <form action="{{ url_for('bpManager.add_category') }}" method="post">
                <div class="control-group {% if form.errors.name %}error{% endif %}">
                    {{ form.name.label(class="control-label") }}

                    <div class="controls">
                        {{ form.name(class="input-xxlarge",placeholder="分类标识名") }}

                    </div>
                </div>
                <div class="control-group {% if form.errors.label %}error{% endif %}">
                    {{ form.label.label(class="control-label") }}

                    <div class="controls">
                        {{ form.label(class="input-xxlarge",placeholder="分类名") }}

                    </div>
                </div>
                <div class="control-group {% if form.errors.order %}error{% endif %}">
                    {{ form.order.label(class="control-label") }}

                    <div class="controls">
                        {{ form.order(class="input-large",placeholder="排序") }}

                    </div>
                </div>
                <div class="control-group">
                    {{ form.csrf_token }}
                    <div class="controls">
                        <button type="submit" class="btn btn-large btn-success">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}