{% macro render_category_pagination(pagination,cate_name) %}
            <ul class="pager">{% if pagination.has_prev %}
                <li class="previous"><a href="{{ url_for('bpBlog.view_by_cate_name',cate_name=cate_name, page_no=pagination.prev_num) }}">上一页</a></li>
            {% endif %}
                {% if pagination.has_next %}
                    <li class="next"><a href="{{ url_for('bpBlog.view_by_cate_name',cate_name=cate_name,page_no=pagination.next_num) }}">下一页</a></li>
                {% endif %}
            </ul>
{% endmacro %}