{% macro render_category_pagination(pagination,cate_name) %}
    <div class=pagination>
        <div class="pagination pagination-centered pagination-large">
            <ul>{% if pagination.has_prev %}
                <li><a href="{{ url_for('bpBlog.view_by_cate_name',cate_name=cate_name, page_no=pagination.prev_num) }}">上一页</a></li>
            {% endif %}
                {% if pagination.has_next %}
                    <li><a href="{{ url_for('bpBlog.view_by_cate_name',cate_name=cate_name,page_no=pagination.next_num) }}">下一页</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endmacro %}