{% macro render_index_pagination(pagination, endpoint,kwargs) %}
    <div class=pagination>
        <div class="pagination pagination-centered pagination-large">
            <ul>{% if pagination.has_prev %}
                <li><a href="{{ url_for('bpBlog.index',page_no=pagination.prev_num) }}">上一页</a></li>
            {% endif %}
                {% if pagination.has_next %}
                    <li><a href="{{ url_for('bpBlog.index',page_no=pagination.next_num) }}">下一页</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endmacro %}