.editor-wrap {
    border: 1px solid #e9e9e9;
    border-radius: 3px;
}

.editor-head {
    background: #f2f2f2;
    border-bottom: 1px solid #f7f7f7;
    border-radius: 2px 2px 0 0;
}

.editor-toolbar {
    list-style: none;
    margin: 0;
    padding: 5px 8px;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}

.editor-toolbar li {
    float: left;
    margin-right: 5px;
    text-align: center;
    color: #000;
}

.editor-toolbar li.split {
    border: 1px solid #ddd;
    border-right-color: #fff;
    width: 0;
    height: 20px;
    border-top: none;
    border-bottom: none;
}

.editor-toolbar li a {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #f2f2f2;
    color: #000;
    line-height: 22px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 2px;
    font-weight: bold;
}

.editor-toolbar li a:hover {
    border: 1px solid #ccc;
    background-color: #fff;
}

.editor-toolbar .editor-icon-blod,
.editor-toolbar .editor-icon-italic,
.editor-toolbar .editor-icon-quote,
.editor-toolbar .editor-icon-head,
.editor-toolbar .editor-icon-ul,
.editor-toolbar .editor-icon-ol,
.editor-toolbar .editor-icon-link,
.editor-toolbar .editor-icon-picture {
    height: 20px;
    width: 20px;
    display: block;
    background: url('../img/toolbar.png') -50px 0 no-repeat;
}

.editor-toolbar .editor-icon-blod {
    background-position: 0 -40px
}

.editor-toolbar .editor-icon-italic {
    background-position: -20px -40px
}

.editor-toolbar .editor-icon-quote {
    background-position: -80px -60px
}

.editor-toolbar .editor-icon-head {
    background-position: -100px -100px
}

.editor-toolbar .editor-icon-ul {
    background-position: -140px -60px
}

.editor-toolbar .editor-icon-ol {
    background-position: -120px -60px
}

.editor-toolbar .editor-icon-link {
    background-position: 0 -60px
}

.editor-toolbar .editor-icon-picture {
    background-position: -20px -80px
}

.editor-toolbar li a:hover .editor-icon-blod {
    background-position: 0 -140px
}

.editor-toolbar li a:hover .editor-icon-italic {
    background-position: -20px -140px
}

.editor-toolbar li a:hover .editor-icon-quote {
    background-position: -80px -160px
}

.editor-toolbar li a:hover .editor-icon-head {
    background-position: -100px -200px
}

.editor-toolbar li a:hover .editor-icon-ul {
    background-position: -140px -160px
}

.editor-toolbar li a:hover .editor-icon-ol {
    background-position: -120px -160px
}

.editor-toolbar li a:hover .editor-icon-link {
    background-position: 0 -160px
}

.editor-toolbar li a:hover .editor-icon-picture {
    background-position: -20px -180px
}

.editor-textarea {
    padding: 8px;
}

.editor-textarea textarea {
    border: none;
    width: 100%;
    padding: 0;
    resize: vertical;
    line-height: 22px;
    min-height: 200px;
    font-size: 14px;
    overflow: auto;
}

.editor-preview {
}

.editor-preview-toggle {
    display: block;
    height: 8px;
    overflow: hidden;
    border-radius: 0 0 2px 2px;
    background: #eee url('../img/toolbar.png') center -1px no-repeat;
}

.editor-preview-toggle:hover {
    background-color: #dedede;
}

.editor-preview.active .editor-preview-toggle {
    border-radius: 0;
    background-position: center -12px;
}

.editor-preview-body {
    margin: 8px;
    display: none;
}

.editor-preview.active .editor-preview-body {
    display: block;
}

/* style */
.editor-preview-body {
    line-height: 20px;
}

.editor-preview-body-default-style p {
    margin: 10px 0;
}

.editor-preview-body-default-style a {
    color: #09d;
    text-decoration: none;
}

.editor-preview-body-default-style a:hover {
    text-decoration: underline;
}

.editor-preview-body-default-style blockquote {
    border-left: 5px solid #ddd;
    background: #f8f8f8;
    margin: 0;
    padding: 0 0 0 15px;
    overflow: hidden;
}

.editor-preview-body-default-style pre {
    border-left: 5px solid #ddd;
    background: #f8f8f8;
    margin: 0;
    padding: 0 0 0 15px;
    overflow: hidden;
}